.card {
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  width: 300px;
  height: 150px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 7px 10px 15px -3px rgba(0,0,0,0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  h1 {
    text-transform: capitalize;
    font-size: 1.4rem;
    cursor: text;
  }

  h2 {
    font-size: 1rem;
    cursor: text;
  }
}

.card:hover {
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  transform: scale(1.04);
}