* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body{
  background: linear-gradient(45deg, #B5B5B5, #3F5EFB) no-repeat fixed;
  display: flex;
  justify-content: center;
  height: 90vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10vh;
}